<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Aleksandar L. Dimitrov" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
  </head>
  <body>
    <div class="header">
    </div>
    <div class="leftbar">
      <!--a href="http://thepiratebay.org/"><img src="/images/kopimi.png"/></a-->
      <em>Some text for the leftbar, just to see how wide it really is…</em>

   </div>
   <div class="content">
     {{ content }}
   </div>
   <div class="footer">
     Александър Любенов Димитров — Contact: aleks.dimitrov@gmail.com <br/>
   </div>
 </body>
</html>
